@page "/xml"
@inject ILogger<Index> Logger
@inject IXmlService XmlService
@inject INFeInStorageService NFeInStorageService
@using LeitorNfe.Core.Models
@using LeitorNfe.Core.Models.DTOs
@using LeitorNfe.Core.Services
@using System.Xml.Serialization
@using LeitorNfe.Utils
@using LeitorNfe.Components
@* <PageTitle>File Upload</PageTitle> *@

<p>
    <label>
        Max file size: @maxFileSize
        @* <input type="number" @bind="maxFileSize" /> *@
    </label>
</p>

<p>
    <label>
        Max allowed files: @maxAllowedFiles
        @* <input type="number" @bind="maxAllowedFiles" /> *@
    </label>
</p>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to @maxFileSize bytes:
        <InputFile OnChange="@LoadFiles"/>
    </label>
</p>


@if(SwitchWarningModal)
{
    <WarningModal Message="@MessageWarningModal"  Type="@WarningType"/>
}



@if (xmlData != null)
{
    <div>
        <h4>Parsed XML Data:</h4>
        <ul>
            @foreach (var nfe in xmlData.Select(x => x.InfNFe))
            {
            <li>
                <ul>
                    <li>Id: @nfe.Ide.Id</li>
                    <li>cUF: @nfe.Ide.cUF</li>
                    <li>cNF: @nfe.Ide.cNF</li>

                    <li>Emitente: @nfe.Emit.xNome</li>
                    <li>Destinatário: @nfe.Dest.xNome</li>

                    <li>Produtos:
                        <ul>
                            @foreach (var det in nfe.Det)
                            {
                                <li>
                                    <ul>
                                        <li>cProd: @det.Prod.cProd</li>
                                        <li>xProd: @det.Prod.xProd</li>
                                        <li>qCom: @det.Prod.qCom</li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>

                    <li>Total:
                        <ul>
                            <li>vProd: @nfe.Total.ICMSTot.VProd</li>
                            <li>vFrete: @nfe.Total.ICMSTot.VFrete</li>
                            @* Adicione outras propriedades da classe ICMSTot aqui *@
                        </ul>
                    </li>
                </ul>
            </li>
            }
        </ul>
    </div>
    <div>
        <label>Comentário:</label>
        <input type="text" @bind="Comentary">
    </div>
    <button class="btn btn-primary" @onclick="@OpenConfirmationSaveModal">Salvar</button>
}
else
{
    <p>No XML data available. Please upload an XML file.</p>
}

@if(AreYouSureAboutSaveThisNFe)
{
    <Modal>
        <HeaderContent>
            <h5 class="modal-title">Salvamento da NFe</h5>
            <button type="button" class="close" @onclick="CloseConfirmationSaveModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </HeaderContent>

        <BodyContent>
            <h4>Você tem certeza que gostaria de salvar esse NFe?</h4>
            <button class="btn btn-primary"  @onclick="@SaveNFe">Sim</button> <button class="btn btn-danger" @onclick="@CloseConfirmationSaveModal">Não</button>
        </BodyContent>

    </Modal>
}

@code {
    private List<NFe>? xmlData;
    private string? uploadedFileName;
    private XMLUtils xmlUtils = new();
    private AddNFeInStorageForm AddNFeInStorageForm;
    //[Inject] private IXmlService xmlService { get; set; }
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 15;
    private int maxAllowedFiles = 1;
    private bool isLoading;
    
    private string Comentary;


    //Modal About Confirmation Saving
    private bool AreYouSureAboutSaveThisNFe = false;

    // WarningModal
    private bool SwitchWarningModal {get; set;} = false;
    private string MessageWarningModal {get; set;} = "";

    private WarningModal.WarningType WarningType;

    private async Task ActivateOpenWarningModal(string message, 
        WarningModal.WarningType  type)
    {   
        OpenWarningModal(message, type);
        await Task.Delay(3000);
        CloseWarningModal();
    }

    private void OpenWarningModal(string message, 
        WarningModal.WarningType type)
    {
        WarningType = type;
        SwitchWarningModal = true;
        MessageWarningModal = message;
        StateHasChanged();
    }

    private void CloseWarningModal()
    {
        SwitchWarningModal = false;
        MessageWarningModal = "";
        StateHasChanged();
    }
    
    private async void SaveNFe()
    {
        try
        {
            foreach (var file in loadedFiles)
            {
                var filePath = xmlUtils.GetFilePath();
                
                // Cria o diretório se não existir
                Directory.CreateDirectory(Path.GetDirectoryName(filePath));

                using var stream = file.OpenReadStream();
                using var reader = new StreamReader(stream);
                var xmlString = await reader.ReadToEndAsync();


                await File.WriteAllTextAsync(filePath, xmlString);
                
                var NFeObject = XmlService.ReadXMLAndConvertToObject(xmlString);
                Console.WriteLine($"Test filePath: {filePath}");
                AddNFeInStorageForm addNFeInStorageForm = new(){
                    NFe = NFeObject.First(),
                    Directory = filePath,
                    Comentary = Comentary
                };

                await NFeInStorageService.AddNFe(addNFeInStorageForm);                

            }
            ActivateOpenWarningModal("NFe salvo no Storage.", 
                WarningModal.WarningType.Success);
            Console.WriteLine("NFe saved successfully!");
        }
        catch (Exception ex)
        {
            ActivateOpenWarningModal($"Error saving NFe: {ex.Message}", 
                WarningModal.WarningType.Error);
            Console.WriteLine($"Error saving NFe: {ex.Message}");
        }
        CloseConfirmationSaveModal();
    }

    private string SerializeNFe(List<NFe> nfeList)
    {
        var serializer = new XmlSerializer(typeof(List<NFe>));

        using (var writer = new StringWriter())
        {
            serializer.Serialize(writer, nfeList);
            return writer.ToString();
        }
    }

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);
                uploadedFileName = e.File.Name;
                using var stream = e.File.OpenReadStream();
                using var reader = new StreamReader(stream);
                var xmlString = await reader.ReadToEndAsync();
                xmlData = XmlService.ReadXMLAndConvertToObject(xmlString);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {FileName} Error: {Error}", 
                    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }

    public void OpenConfirmationSaveModal()
    {
        AreYouSureAboutSaveThisNFe = true;
        StateHasChanged();
    }

    public void CloseConfirmationSaveModal()
    {
        AreYouSureAboutSaveThisNFe = false;
        StateHasChanged();
    }
}