@page "/list"
@using LeitorNfe.Core.Models
@using LeitorNfe.Core.Models.DTOs
@using LeitorNfe.Core.Services
@using LeitorNfe.Core.Services.Responses
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Components
@using LeitorNfe.Components
<h3>NFe In Storage List</h3>

@if (nFesInStorage != null && nFesInStorage.Any())
{
    <ul>
        @foreach (var nfe in nFesInStorage)
        {   <ul class="py-3" style="border-bottom: 1px solid gray">
                <button class="btn btn-primary" @onclick="(e => EditNFe(nfe))">Editar</button>

                <li>Diretório: @nfe.Directory</li>
                <li>
                    @if (!string.IsNullOrEmpty(nfe.Comentary))
                    {
                        <li class="fw-bold">
                            Comentário:
                            @nfe.Comentary
                        </li>
                    }
                    else
                    {
                        <li class="fw-bold">
                            Não tem comentário.
                        </li>
                    }
                </li>
                <ul>
                    @if (nfe.NFe != null)
                    {
                        <ul>
                            <li>
                                <ul>
                                    <li>Id: @(nfe.NFe.Id)</li>
                                @if (nfe.NFe.InfNFe != null)    
                                {
                                    @if (nfe.NFe.InfNFe.Ide != null) 
                                    {
                                        <li>cUF: @nfe.NFe.InfNFe.Ide.cUF</li>
                                        <li>cNF: @nfe.NFe.InfNFe.Ide.cNF</li>  
                                    }

                                    @if (nfe.NFe.InfNFe.Emit != null) 
                                    {
                                        <li>Emitente: @nfe.NFe.InfNFe.Emit.xNome</li>
                                    }
                                    else
                                    {
                                        <li>Não tem emitente.</li>
                                    }
                                    
                                    @if (nfe.NFe.InfNFe.Dest != null) 
                                    {
                                        <li>Destinatário: @nfe.NFe.InfNFe.Dest.xNome</li>
                                    }
                                    else 
                                    {
                                        <li>Não tem destinatário.</li>
                                    }

                                    <li>Produtos:
                                        <ul>
                                            @if (nfe.NFe.InfNFe.Det != null) 
                                            {
                                                @foreach (var det in nfe.NFe.InfNFe.Det)
                                                {
                                                    <li>
                                                        <ul>
                                                            <li>cProd: @det.Prod.cProd</li>
                                                            <li>xProd: @det.Prod.xProd</li>
                                                            <li>qCom: @det.Prod.qCom</li>
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li> 
                                }
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <p>NFe is null for this item.</p>
                    }
                </ul>
            </ul>
        }
    </ul>
}
else
{
    <p>No NFes in storage.</p>
}


@if (selectedNFe != null)
{   <Modal>

        <HeaderContent>
            <h5 class="modal-title">Detalhes da NFe</h5>
            <button type="button" class="close" @onclick="CloseModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </HeaderContent>

        <BodyContent>
            <InfoNFeEditModal nfe="selectedNFe"/>
        </BodyContent>

        <FooterContent>
            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
        </FooterContent>

    </Modal>
}

@code {
    [Inject] private INFeInStorageService NFeInStorageService { get; set; }
    private List<NFeInStorage> nFesInStorage;
    private NFeInStorage selectedNFe;

    protected override async Task OnInitializedAsync()
    {
        var response = await NFeInStorageService.GetNFes();
        nFesInStorage = response?.NFesInStorage;
        nFesInStorage = nFesInStorage.ToList();
    }

    public void EditNFe(NFeInStorage nfe)
    {
        selectedNFe = nfe;
    }

    public void CloseModal()
    {
        selectedNFe = null;
    }
}
